<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DataSource" value="193.85.203.188"/>
		<add key="Database" value="holy2"/>
		<add key="Name" value="holy2"/>
		<!--For password contact owner or import database to your own server-->
		<add key="Password" value=****"/>
	</appSettings>
</configuration>
